{% block content %}
    <div class="container">
        <br>
        <div class="container">
            <div><img src="{{ asset ('img/society/burger1.webp') }}" alt=""></div>
        </div>
    </div>
{% endblock %}