

{% block content %}
    <div class="container">
        <br>

        
        <div class="container">
            
            <div><img src="{{ asset ('img/society/ems1.jpeg') }}" alt=""></div>
            <br>
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="https://img.gta5-mods.com/q95/images/los-angeles-medics/8fa230-2.jpg" class="d-block w-100" height="520"  alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://pbs.twimg.com/media/Fldd72VWIAMeEDe?format=jpg&name=large" class="d-block w-100" height="520"  alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://cdnb.artstation.com/p/assets/images/images/023/678/069/large/mikhail-sharov-medic.jpg?1579991386" class="d-block w-100" height="520"  alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src=" https://img.gta5-mods.com/q95/images/improved-brute-sadler-ambulances-addon-replace-template/65f411-20210526080710_1.jpg" class="d-block w-100" height="520"  alt="...">
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}