{% extends 'ems/index.html.twig' %}

{% block title %}Dossier médical{% endblock %}

{% block content %}
    <br>
    <div class="container">
        <h1>PPA</h1>
        <hr>
    </div>

{% endblock %}