{% extends 'gouv/index.html.twig' %}

{% block title %}Facture{% endblock %}

{% block content %}
    <div class="container">
        <br>
        <h1>Nouvelle facture</h1>
        <hr>
        <div class="col-4">
            {{ form_start(factureForm) }}
            <div hidden>{{ form_row(factureForm.date) }}</div>
            {{ form_widget(factureForm) }}
            <div><button class="btn btn-warning" type="submit">Valider</button></div>
            {{ form_end(factureForm) }}
        </div>
    </div>

{% endblock %}